


<div class="row h-100">
<div class=" col-md-4 bg-dark text-light">
<h2 class= " text-center mt-5"><strong>Changer Mot De Passe</strong></h2>
<br /><br />
</div>


  <div class="px-5 col-md-8 border alert text-dark">



<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control form-control-lg" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "maitres/shared/links" %>

  </div>
</div>




