




<div class="row h-100">
<div class=" col-md-4 bg-dark text-light">
<h2 class= " text-center my-5"><strong>Mot de passe oublié?</strong></h2>
</div>


  <div class="px-5 col-md-8 alert border text-dark">




<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Envoyer Instructions de reinitialisation mot de passe", class: "btn btn-primary" %>
  </div>
<% end %><br /><br />

<%= render "etudiants/shared/links" %>


  </div>
</div>




